.modal-header
  button.close(type='button' ng-click='$close()')
  h4 {{ modal.title }}
.modal-body
  form
    p.input-group
      input(type='text' placeholder='name' ng-model='task.name' required)
    p.input-group
      input(type='text' placeholder='description' ng-model='task.description')
    p.input-group
      input(type='text' placeholder='frequency (per week, ex. "1/2")' ng-model='task.frequency')
    p.input-group
      button.btn.btn-primary(ng-click='submit(task, edit, $close)') Sauvegarder
      button.btn.btn-danger(ng-click='$close()') Annuler
.modal-footer
