.jumbotron.row
  h2 Qui doit à qui ?

  tabset(justified='true')
    tab(heading='Simplifié', active='true')
      table.table-striped.col-xs-12
        tr
          th De
          th À
          th Montant
        tr(ng-repeat="result in short_results  | orderBy:'-amount'")
          td {{ result.from }}
          td {{ result.to }}
          td {{ result.amount | currency }}
    tab(heading='Non simplifié')
      table.table-striped.col-xs-12
        tr
          th Qui  
          th Montant
        tr(ng-repeat="result in results")
          td {{ result.user.name }}
          td {{ result.amount | currency}}  
      
    tab(heading='Toutes les transactions')
      table.table-striped.col-xs-12
        tr
          th Payé par
          th À
          th Montant
          th Date
          th
        tr(ng-repeat="transaction in transactions | orderBy:'date'")
          td {{ transaction.fromAsString }} 
          td {{ transaction.toAsString }}
          td {{ transaction.amount | currency }}
          td {{ transaction.date | date:'fullDate' }}
          td
            a(href="" ng-click='edit(transaction)')
              i.fa.fa-pencil
            |  
            a(href="" ng-click='delete(transaction)')
              i.fa.fa-ban
