doctype html
html(ng-app='transactions')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/isteven-angular-multiselect/isteven-multi-select.css')
    
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src='/angular-bootstrap/ui-bootstrap.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/isteven-angular-multiselect/isteven-multi-select.js')
    script(src='/moment/min/moment-with-locales.min.js')
    script(src='/angular-moment/angular-moment.min.js')
    
    script(src='/javascripts/app.js')
  body(ng-controller='homeController')
    header
      nav.navbar.navar-default
      .container
          .navbar-header
            a.navbar-brand(href='/') Gestion de compte en colloc'
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#transactions')
                i.fa.fa-eur  Comptes
            li
              a(href='#users')
                i.fa.fa-users  Utilisateurs
            li
              a(href='' ng-click='createTransaction(null)')
                i.fa.fa-plus  Nouvelle transaction
            li
              a(href='#cleaningTasks')
                i.fa.fa-heart  Tâches ménagères
    div.container(ng-view='')
    block content
